body {
    background: linear-gradient(to right, #8A2BE2, #FF1493);
    font-family: 'Pacifico', cursive;
}

bottom-footer {
    position: auto;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Высота нужной строки */
    background-color: linear-gradient(to right, #8A2BE2, #FF1493);
    text-align: center;
    padding-top: 10px;
}
